{% extends "base.html" %}

{% block title %}Page 1{% endblock %}

{% block content %}
<h1>Page 1</h1>
<p>This is Page 1.</p>

<a href="https://www.example.com" class="button">You, apply now to ‘Test Engineer Intern 8 or 12 months - Summer 2025 at Dayforce’
</a>

<style>
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: blue;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
.button:hover {
    background-color: darkblue;
}
</style>

<a href="https://www.example.com" class="button">Everything you'll need to know from MLH at UofTHacks 12 💻</a>

<style>
.button {
    display: inline-block;
    padding: 10px 90px;
    font-size: 16px;
    color: white;
    background-color: blue;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
.button:hover {
    background-color: darkblue;
}
</style>

{% endblock %}